<div class="input-container">
  @if (label()) {
    <label class="label" for="id()">{{ label() }}</label>
  }
  @if (control()) {
    <input [formControl]="control()!" [id]="id()" [type]="type()" [placeholder]="placeholder()" />
    @if (showError) {
      @if (control()?.hasError('required')) {
        <small>{{ label() }} is required</small>
      }
      @if (control()?.hasError('maxAge')) {
        <small>You are not over 13 years old.</small>
      }
      @if (control()?.hasError('mismatch')) {
        <small>Password doesnt match.</small>
      }
      @if (control()?.hasError('minlength')) {
        <small>{{ label() }} is too short</small>
      }
      @if (control()?.hasError('maxlength')) {
        <small>{{ label() }} is too long</small>
      }
      @if (control()?.hasError('email')) {
        <small>{{ label() }} is invalid</small>
      }
      @if (
        control()?.hasError('pattern') &&
        control()?.getError('pattern')?.requiredPattern === '^[A-Za-z]{5}.*$'
      ) {
        <small>{{ label() }} must start with 5 letters </small>
      }
    }
  } @else {
    <input [id]="id()" [type]="type()" [placeholder]="placeholder()" />
  }
</div>
